*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
    
}

.container{
    text-align: center;

    color: white;
    /* height: 800px; */
}

.container h1{
    padding-top: 50px;
    font-size: 150px;
}

.container h2{
    margin-top: 50px;
    font-size: 150px;
}

button{
    margin-top: 100px;
    padding: 20px 50px;
    font-size: 30px;
    margin-left: 40px;
    width: 300px;
    color: white;
    border-radius: 10px;
    /* border: 1px transparent; */
    
}

button:nth-child(1){
    background-color: greenyellow;
}

button:nth-child(2){
    background-color: blue;
}

button:nth-child(3){
    background-color: red;
}